/*Generic class styling*/
h1 {
    font-family: 'Raleway';
    font-weight: bold;
    margin-top: auto;
}

h3 {
    font-size: 25px;
    font-family: 'Raleway';
    margin-top: 0px;
}

#facebook_login {
    padding-left: 0px;
    padding-bottom: 10px;
}

#twitter_login {
    padding-bottom: 10px;
}

.icon {
    padding-top: 15px;
    max-width: 100px;
}

#facebook_login_button {
    background-color: #3b5998
}

#editedphotos {
    height: 40px;
    overflow: auto;
    margin-top: 10px;
}

#uploadedpics {
    height: 24em;
}

#effectthumbnails {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 11em;
    background-color: #fafafa;
}

#social_login_div {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.52);
    margin-top: 10%;
    margin-bottom: 0px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*End of generic class styling*/

/*landing page styling*/
.background-image {
    position: fixed;
    background: url(../img/artpaint.jpeg)no-repeat center center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
}

.navigation {
    background-color: #0097A7 !important;
}

.twittershare {
    background-color: #4099FF !important;
}

#loginbuttons {
  font-weight: bold;
  color: #000000;
}
/*End of landing page styling*/

/*dashboard view styling*/
#logo {
    font-family: 'Raleway';
    font-weight: bold;
}

.add-photo {
    background-color: #0097A7;
}

.tabs > .select{
    color: #212121;
}

.filters {
    margin-top: -60px;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: #fafafa;
    white-space: nowrap;
}

.canvas {
    margin-top: 20px;
    height: 600px;
    width: 800px;
}

.photos-list {
    overflow: auto;
    height: 45em;
}

.previews {
    display: inline-block;
    margin-right: 1em;
}

.effect_name {
    font-family: 'Raleway';
    font-weight: bold;
    color: #0097A7;
    border-radius: 5px;
    margin: 0em 3em 0em 3em;
    position: relative;
    text-align: center;
}

.error-toast {
  background-color: rgba(210, 57, 57, 1);
}

.success-toast {
  background-color: #0097A7;
}

.original-photos .card-image {
    max-height: 75% !important;
}

.original-photos .card-content {
    max-height: 25% !important;
    padding: 10px !important;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #0097A7 !important;
    font-family: 'Raleway';
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.canvas .btn {
    background-color: #0097A7 !important;
    font-family: 'Raleway';
    margin-left: 25%;
}

#contain {
    object-fit: contain;
}

a.delete {
    color: #EE6E73;
}

a.download {
    color: #008000;
}
/*End of dashboard view style*/