h1 {
    font-family: 'Raleway';
    font-weight: bold;
    margin-top: auto;
}

h3 {
    font-size: 25px;
    font-family: 'Raleway';
    margin-top: 0px;
}

#facebook_login {
    padding-left: 0px;
    padding-bottom: 10px;
}

#twitter_login {
    padding-bottom: 10px;
}

.icon {
    padding-top: 15px;
}

#facebook_login_button {
    background-color: #3b5998
}

#editedphotos {
    height: 40px;
    overflow: auto;
    margin-top: 10px;
}

#uploadedpics {
    height: 24em;
}

#effectthumbnails {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 11em;
    background-color: #fafafa;
}

#social_login_div {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.52);
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right: 800px;
    top: 244px;
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*landing page styling*/
.background-image {
    position: fixed;
    background: url(../img/artpaint.jpeg)no-repeat center center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
}

.navigation {
    background-color: #0097A7 !important;
}

.twittershare {
    background-color: #4099FF !important;
}

#loginbuttons {
  font-weight: bold;
  color: #000000;
}

/*dashboard view styling*/
#logo {
    font-family: 'Raleway';
    font-weight: bold;
}

.add-photo {
    background-color: #0097A7;
}

.tabs > .select{
    color: #212121;
}

.filters {
    margin-top: -77px;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: #fafafa;
    white-space: nowrap;
}

.canvas {
    margin-top: 20px;
    height: 600px;
    width: 800px;
    /*background: url(../img/artpaint.jpeg)*/
}

.photos-list {
    overflow: auto;
    height: 50em;
}

.previews {
    display: inline-block;
    margin-right: 1em;
}

.effect_name {
    background-color: #b0bec5;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    margin: 0em 3em 0em 3em;
    position: relative;
    text-align: center;
}

.error-toast {
  background-color: rgba(210, 57, 57, 1);
}

.success-toast {
  background-color: #00cc33;
}

.original-photos .card-image {
    max-height: 75% !important;
}

.original-photos .card-content {
    max-height: 25% !important;
    padding: 10px !important;
}